In [15]:
#Importing both pandas and NumPy libraires

import pandas as pd
import numpy as np

In [25]:
#Loading the stock price data csv file - I have put double back slashes as Python interprets the single \ as escape char
#df.head(5) has been used to see the first 5 lines of the data to see if it formats correctly without excessive rows
#put r in front of file paths to tell python.
#index_col=0 removes initial 1,2,3,4 index and shifts it to the right.


df = pd.read_csv('C:\\Users\\dajam\\Downloads\\stock_prices.csv')
print(df.head(5))
print(df.tail(5))

         date     MSFT     AAPL      GOOGL
0  2010-01-29  28.1800  192.063  529.94397
1  2010-02-26  28.6700  204.620  526.79999
2  2010-03-31  29.2875  235.000  567.12000
3  2010-04-30  30.5350  261.090  525.69501
4  2010-05-28  25.8000  256.880  485.63000
           date       MSFT       AAPL   GOOGL
151  2022-08-31  261.47000  157.22000  108.22
152  2022-09-30  232.89999  138.20000   95.65
153  2022-10-31  232.13000  153.34000   94.51
154  2022-11-30  255.14000  148.03000  100.99
155  2022-12-30  239.82001  129.92999   88.23

In [ ]:
# you can slice the data by column and by row by
#select columns called 'points' and 'blocks'
#df_new = df[['MSFT', 'AAPL']]

#view new DataFrame
#df_new

In [27]:
#Assigning value of "mean_'stock'" in the dataframe df, finding coloumn of the specific ['STOCK'] and calculating mean.
mean_msft = df['MSFT'].mean()
mean_aapl = df['AAPL'].mean()
mean_googl = df['GOOGL'].mean()

#Likewise with standard deviation function
std_msft = df['MSFT'].std()
std_aapl = df['AAPL'].std()
std_googl = df['GOOGL'].std()

#and Skewness function
skew_msft = df['MSFT'].skew()
skew_aapl = df['AAPL'].skew()
skew_googl = df['GOOGL'].skew()

#Kurtosis function
kurt_msft = df['MSFT'].kurt()
kurt_aapl = df['AAPL'].kurt()
kurt_googl = df['GOOGL'].kurt()

#Display the results
print("MSFT - Mean:", mean_msft, "Std Dev:", std_msft, "Skewness:", skew_msft, "Kurtosis:", kurt_msft)
print("AAPL - Mean:", mean_aapl, "Std Dev:", std_aapl, "Skewness:", skew_aapl, "Kurtosis:", kurt_aapl)
print("GOOGL - Mean:", mean_googl, "Std Dev:", std_googl, "Skewness:", skew_googl, "Kurtosis:", kurt_googl)

MSFT - Mean: 100.79012634615384 Std Dev: 89.02990387970237 Skewness: 1.1691426639643632 Kurtosis: 0.06300369636440895
AAPL - Mean: 252.92664378205131 Std Dev: 158.24468683156442 Skewness: 1.0589688588805324 Kurtosis: -0.10739147449160313
GOOGL - Mean: 1022.7163630128206 Std Dev: 633.2359901838887 Skewness: 1.4930139968675056 Kurtosis: 1.8569612636668658

In [62]:
df.describe() # This gives a summary statistics of everything below

             MSFT        AAPL        GOOGL
count  156.000000  156.000000   156.000000
mean   100.790126  252.926644  1022.716363
std     89.029904  158.244687   633.235990
min     23.010000   92.930000    88.230000
25%     32.195000  130.192498   587.997480
50%     56.080000  176.320010   815.045010
75%    140.115000  348.913133  1192.637512
max    336.320010  667.104980  2960.919920

In [ ]:
# prior to reading below you can use data.describe() to format the table in a more presentable manner.

In [33]:
#Creating a summary DataFrame for the results
summary = pd.DataFrame({
    'Stock': ['MSFT', 'AAPL', 'GOOGL'],
    'Mean': [mean_msft, mean_aapl, mean_googl],
    'Standard Deviation': [std_msft, std_aapl, std_googl],
    'Skewness': [skew_msft, skew_aapl, skew_googl],
    'Kurtosis': [kurt_msft, kurt_aapl, kurt_googl]
})

#Displaying the summary DataFrame without the index
print(summary.to_string(index=False))

Stock        Mean  Standard Deviation  Skewness  Kurtosis
 MSFT  100.790126           89.029904  1.169143  0.063004
 AAPL  252.926644          158.244687  1.058969 -0.107391
GOOGL 1022.716363          633.235990  1.493014  1.856961

In [ ]:
#log return (ln) = (current price / original price)

In [41]:
def LogDiff(x):
    x_diff = 100*np.log(x/x.shift(1)) # we take the original series and divide by the previous one.
    x_diff = x_diff.dropna() # To avoid errors we include all the data as it will miss the first value in the row off otherwise
    return x_diff

In [ ]:
LogDiff(df['MSFT'])

In [58]:
df2 = pd.DataFrame({'ret_msft' : LogDiff(df['MSFT']),
                    'ret_aapl' : LogDiff(df['AAPL']),
                    'ret_google' : LogDiff(df['GOOGL'])})

In [64]:
df2

      ret_msft   ret_aapl  ret_google
1     1.723877   6.333116   -0.595033
2     2.130952  13.843091    7.374997
3     4.171276  10.527966   -7.584971
4   -16.849907  -1.625613   -7.927420
5   -11.444559  -2.104678   -8.748508
..         ...        ...         ...
151  -7.110938  -3.309338   -7.217882
152 -11.571042 -12.894419  -12.347050
153  -0.331157  10.395577   -1.199005
154   9.451485  -3.524272    6.631585
155  -6.192373 -13.041919  -13.507446

[155 rows x 3 columns]

In [66]:
df2.describe() # This gives a summary statistics of the returns table above detailed everything below

         ret_msft    ret_aapl  ret_google
count  155.000000  155.000000  155.000000
mean     1.381469   -0.252147   -1.156661
std      6.209837   19.852071   25.308918
min    -16.849907 -191.862390 -293.039564
25%     -2.794059   -3.248386   -3.800106
50%      1.718418    1.797395    1.281896
75%      5.270001    7.164948    5.880842
max     17.932441   17.917233   19.680159

In [68]:
df2.corr() # computes the correlations between the different returns - lOOK INTO .corr()

            ret_msft  ret_aapl  ret_google
ret_msft    1.000000  0.136837    0.074545
ret_aapl    0.136837  1.000000   -0.045508
ret_google  0.074545 -0.045508    1.000000

In [ ]:
#Looping the process so you dont have to type out multiple print lines

In [74]:
#Calculating the average return for each stock using a loop.
#define a list called stocks tht contrains the name sof the stocks we want to calculate the average return for.

stocks = ['ret_msft', 'ret_aapl', 'ret_google']

#now to loop through the stocks using standard loop functions assigning single "stock" in "stocks"

for stock in stocks:
    stock_data = df2[stock]

    #Calculating the average returns

    total_return = sum(stock_data)
    average_return = stock_data.mean() #you can use total_return / len(stock_data) to also calculate mean.

    #Using string formatting to present the results
    print(f'Average return for {stock}: {average_return}')

Average return for ret_msft: 1.3814685014056083
Average return for ret_aapl: -0.25214688792027423
Average return for ret_google: -1.1566608017694113

In [ ]:
#f shows python that you are string formatiing. (f'string {value} : {another value}')